{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if profile %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-center">{{ profile.user.username|capfirst }}'s Profile</h1>
                    <br>

                    {% if tweets %}
                        {% for tweet in tweets %}
                            <div class="alert alert-dark" role="alert">
                                {{ tweet.body }}<br>
                                <small class="text-muted">
                                    By: {{ tweet.user|lower }} at: {{ tweet.created }}
                                </small>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-4 justify-content-center align-items-center">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header text-bg-secondary">Followers</div>

                        <div class="card-body">
                            {% for follower in profile.followed_by.all %}
                                <p class="card-text">
                                    <a href="{% url 'profile' follower.user.id %}">@{{ follower.user.username|lower }}</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    <br>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header text-bg-secondary">Following</div>

                        <div class="card-body">
                            {% for following in profile.follows.all %}
                                <p class="card-text">
                                    <a href="{% url 'profile' following.user.id %}">@{{ following.user.username|lower }}</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    <br>

                    <form method="POST">
                        {% csrf_token %}
                        {% if profile in user.profile.follows.all %}
                            <button type="submit" class="btn btn-outline-danger" name="follow" value="unfollow">
                                Unfollow
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-info" name="follow" value="follow">
                                Follow
                            </button>
                        {% endif %}
                    </form>
                    <br>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}