{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="text-center">PROFILES</h1>
    <br><br>

    {% if profiles %}
        <div class="container row row-cols-1 row-cols-md-3 g-4 align-items-center justify-content-center">
            {% for profile in profiles %}
                <div class="col">
                    <div class="card align-items-center justify-content-center no-border">
                        {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture.url }}" class="card-img-top img-fluid circle" alt="{{ profile.user.username }}">
                        {% else %}
                            <img src="{% static 'img/pfp.jpg' %}" class="card-img-top img-fluid circle" alt="{{ profile.user.username }}">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">Name: {{ profile.user.username|capfirst }}</h5>
                            <p class="card-text">
                                Username: <a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a>
                            </p>
                            <p class="text-body-secondary">
                                <small>Last modified: {{ profile.date_modified }}</small>
                            </p>
                            <a href="{% url 'profile' profile.user.id %}" class="btn btn-primary">Visit Profile</a>
                        </div>
                    </div>
                </div>          
            {% endfor %}
        </div>
    {% else %}
        <p>There are no profiles.</p>
    {% endif %}
{% endblock %}