{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Search Posts</h1>
        <br>

        <div class="col-md-6 offset-md-3 container">
            <form method="POST" class="d-flex" role="search">
                {% csrf_token %}
                <input type="text" class="form-control me-2" name="search" placeholder="Search">

                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <br>

        {% if search %}
            <div class="offset-md-2">
                <h6>You searched for: {{ search }}</h6>
                <h5>Your search results:</h5>
            </div>
        {% if searched %}
            <div class="col-md-8 offset-md-2 container">
                {% for tweet in searched %}
                    <div class="alert" role="alert">
                        <div class="row">
                            <div class="col-2">
                                {% if tweet.user.profile.profile_picture %}
                                    <img src="{{ tweet.user.profile.profile_picture.url }}" alt="{{ tweet.user.username }}" width="50" height="50" class="img-fluid rounded-circle">
                                {% else %}
                                    <img src="{% static 'img/pfp.jpg' %}" alt="{{ tweet.user.username }}" width="50" height="50" class="img-fluid rounded-circle">
                                {% endif %}
                            </div>

                            <div class="col-8">
                                <h5>{{tweet.title }}</h5>

                                <p>{{ tweet.body }}</p>

                                {% if tweet.image %}
                                    <img src="{{ tweet.image.url }}" alt="{{ tweet.title }}" class="img-fluid rounded">

                                    <p>
                                        <br>
                                        <small class="text-muted">
                                            By: {{ tweet.user|lower }} at: {{ tweet.created }} &nbsp;
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                            </svg> {{ tweet.like_tracker }}
                                        </small>
                                    </p>
                                {% else %}
                                    <p>
                                        <small class="text-muted">
                                            By: {{ tweet.user|lower }} at: {{ tweet.created }} &nbsp;
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                            </svg> {{ tweet.like_tracker }}
                                        </small>
                                    </p>
                                {% endif %}
                            </div>

                            <div class="col-2 text-center">
                                <a href="{% url 'show' tweet.id %}" class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share text-info" viewBox="0 0 16 16">
                                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% if searched == None %}
            {% else %}
                <h6>There are no posts containing {{ search }}. Please try again. </h6>
            {% endif %}
        {% endif %}
        {% endif %}
    </div>
{% endblock %}